/* Ubah nama file menjadi CSS.html */

<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
    
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
    }
    body{
      background:linear-gradient(#01579b,#318e8e,#6cc976);
      padding: 0 10px;
    }
    
    /* Judul Registration Form */
    .title{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      color: #000;
      text-transform: uppercase;
      text-align: center;
      padding: 20px;
    }
    
    /* Tabel */
    .table {
      border-collapse: collapse;
      border-width: 1px;
      border-color: #19A7CE;
    }
    
    .table tr:hover {
        background-color: #f5f5f5;
    }
     
    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .table thead{
      background-color: #1775bf;
      color: #FFFFFF;
      text-transform: uppercase;; //Menebalkan Text
      text-align: center;
    }
    
    .table thead th {
      text-align: center;
      }
    </style>